makeup-switch[skeleton="true"] {
    align-items: center;
    display: inline-flex;
    height: 40px;
}
makeup-switch[skeleton="true"]::after {
    background-color: #eee;
    border-radius: 400px;
    content: '';
    height: 24px;
    width: 40px;
}
