ebayui-switch[placeholder="true"] {
    align-items: center;
    display: inline-flex;
    height: 40px;
}
ebayui-switch[placeholder="true"]::after {
    background-color: #eee;
    border-radius: 400px;
    content: '';
    height: 24px;
    width: 40px;
}
